* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

}


body {
    background-color: #F2F4F9;
    font-family: sans-serif;
    max-height: 120vh;

}

.whole {
    background-color: #F2F4F9;
    min-height: 100vh;
    position: relative;
    margin-top: 10px;

}

.all-products {
    background-color: #F2F4F9;
}

.search-bar {
    background-color: #fff;
    height: 40px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    /* margin-top: 15px; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search-bar input {
    padding: 10px 10px;
    color: #8C8D8E;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.products {

    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

.card {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 240px;
    width: 160px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card img {
    height: 180px;
    width: 150px;
    border-radius: 10px;
}

.card p {
    padding-left: 10px;
    padding-bottom: 5px;

    color: #818181;
}

.options {
    position: absolute;
    bottom: 20px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
    border-top: 1px solid rgba(204, 199, 199, 0.678);



}

.btn-options div {
    display: inline-block;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

/* Cart section */
.cart {
    background-color: #fff;
    position: absolute;
    right: 3%;
    top: 0;
    width: 30%;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: none;
    /* overflow-y: scroll; */
    height: 100vh;
}

.cart-products {
    max-height: 400px;
}



.add-customer {
    border-bottom: 1px solid rgba(204, 199, 199, 0.678);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.single-product img {
    height: 70px;
    width: 50px;
    border-radius: 5px;
}

.single-product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(204, 199, 199, 0.678);
    position: relative;
}

.single-product i {
    cursor: pointer;
}

.single-product .cart-quantity {
    background: #48AF97;
    color: white;
    position: absolute;
    top: 6px;
    left: 60px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding-left: 5px;
}

.receipt {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%; */
    position: absolute;
    width: 100%;
    bottom: 0;

}

.pay,
.pay-btn {
    background-color: #7872B9;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;

}


/* ........................................ */
.ml {
    margin-left: 8px;
}

.flx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px;
}